streamlit==1.57.0
pandas>=2.2.2
numpy==1.26.4

sentence-transformers==2.7.0
transformers==4.41.2

torch==2.3.1
torchvision==0.18.1

rank-bm25==0.2.2
faiss-cpu==1.8.0
rapidfuzz==3.9.3
python-dotenv==1.0.1

pyarrow==16.1.0